/*RESET*/
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    box-sizing: border-box;
}

html,body,div,span,applet,object,iframe,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,
cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,
tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,embed,figure,figcaption,
footer,header,
hgroup,menu,
nav,output,
ruby,section,
summary,
time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    background-color: var(--main-color-60);

    font-family: "Liter", serif;
    font-weight: 400;
    font-style: normal;
}

ol,ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/*END RESET*/

/*VARIABLES*/
:root {
    --main-font: "Oswald", sans-serif;
    /* FUENTE PRINCIPAL DE LA PAGINA */
    --second-font: "Funnel Sans", sans-serif;
    /* FUENTE SECUNDARIA DE LA PAGINA */
    --main-font-weight: 400;
    /* PESO PRINCIPAL DE CARACTERES */
    --main-font-size: 16px;
    /* TAMAÑO PRINCIPAL DE CARACTERES */
    --main-color-60: #fff6f3;
    /* ROSA */
    --main-color-30: #997676;
    /* GRIS OSCURO*/
    --main-color-10: white;
    /* GRIS CLARO*/
    --main-border: 1px solid transparent;
    /* BORDE GENERAL PARA ELEMENTOS */
}

/*END VARIABLES */

h1 { /* TODO CAMBIAR A H2 MAYUS */
    font-family: var(--main-font);
    font-size: 3rem;
}

h3 { /* TODO MAYUS */
    font-family: var(--main-font);
    font-size: 2rem;
}

/* MENU NAVEGACION */
header {
    width: 100vw;
    height: 5em;

    position: fixed;
    top: 0;
    left: 0;

    border-bottom: 2px solid var(--main-color-30);

    z-index: 1;

    transition: all 0.3s ease;
}

#menu {
    width: 100%;
    max-width: 2000px;
    height: 100%;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    padding: 1em 10%;

    background-color: var(--main-color-10);
    color: black;
}

#menu .menu__logo {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 3rem;
}

#menu .menu__burger .menu__burger-icon {
    display: none;
}

#menu .menu__burger .menu__burger-links {
    width: 100%;

    display: flex;
    flex-flow: row;
    gap: .5em;
}

#menu .menu__burger .menu__burger-links .menu__burger-link {
    font-family: var(--second-font);
    font-size: 1rem;

    padding: .5em 1em;
    border-radius: 20px;

    cursor: pointer;

    transition: all .3s ease;
}

#menu .menu__burger .menu__burger-links .menu__burger-link:hover {
    background-color: var(--main-color-30);
    color: var(--main-color-10);
}

/* END MENU NAVEGACION */

/*MAIN*/
main {
    margin-top: 0;

    display: flex;
    flex-flow: column;
    gap: 1em;

    width: 100vw;
    background-color: var(--main-color-60);
}

main #index {
    width: 100%;
    
    font-family: var(--second-font);
    font-size: 1.4rem;

    position: relative;
}

.hidden {
	display: none;
 }
main #index #index__browser.hidden {
	display: none;
}

main #index p {
    padding: 2em 10%;
}

main #index img, #browser-img, #wishlist-img{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0;
    padding: 0;
    left: 0;
}

main #index #index__browser {
    width: 100%;
    
    display: flex;
    justify-content: center;
    padding: 2em 10%;

    gap: .2em;
}

main #index #index__browser input, #browser #browser__advanceBrowser-input input {
    width: 50%;
    padding: .5em 1em;

    border: 2px solid var(--main-color-30);
    border-radius: 20px;

    font-family: var(--second-font);
    font-size: 1rem;
}

main #index #index__browser button, #browser #browser__advanceBrowser-input button {
    padding: 1em;
    border: 2px solid transparent;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--second-font);
    font-size: 1rem;
    background-color: var(--main-color-30);
    color: var(--main-color-10);

    transition: all .3s ease;
}

main #index #index__browser button:hover, #browser #browser__advanceBrowser-input button:hover {
    border: 2px solid var(--main-color-30);

    background-color: var(--main-color-10);
    color: var(--main-color-30);
}
/*END MAIN*/

/* BROWSER */
#browser {
    width: 100%;
    max-width: 2000px;
    padding: 2em 10%;

    display: flex;
    flex-flow: column;
    gap: 1em;
    align-items: center;

    font-family: var(--second-font);
}
 #browser.hidden {
	display: none;
 }

#browser h1 {
    width: 100%;
}

#browser #browser__advanceBrowser-input { /* TODO MOVER BOTON */
    width: 100%;
    display: flex;
    flex-flow: row;
    gap: .5em;
    justify-content: center;
}

#browser #browser__filters {
    display: flex;
    flex-flow: row;
    gap: 1em;

    align-items: center;
}

#browser #browser__filters div {
    display: flex;
    flex-flow: row;
    align-items: center;
}
/* END BROWSER */

/* WISHLIST */
#wishlist {
    width: 100%;
}
#wishlist h1 {
    padding: 0 10%;
}
#wishlist.hidden {
	display: none;
}

#wishlist #wishlist__books, #browser #browser__results {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: .5em;
}

#wishlist__books {
    padding: 2em 10%;
}

.card {
    max-width: 400px;
    height: 600px;
    overflow: hidden;

    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1em;
    gap: 1em;

    background-color: var(--main-color-10);
    border: 2px solid var(--main-color-30);
    border-radius: 20px;

    position: relative;
}

.card h3, .card h4 {
    width: 100%;
}

.card .book__attributes {
    width: 100%;
    display: none;
}

#nav-apartados>.menu__burger-link{
	display:flex;
}
.card .book__attributes .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
}

.card:hover h3, .card:hover h4, .card:hover img {
    display: none;
}

.card:hover .book__attributes {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.card button {
    position: absolute;
    top: 1em;
    right: 1em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--main-color-30);
    color: var(--main-color-10);
    padding: 1em;
    border: 2px solid transparent;
    border-radius: 100%;

    transition: all .3s ease;
}

.card a {
    font-family: var(--main-font);
    font-size: 1.5rem;
    text-align: center;


    background-color: var(--main-color-30);
    color: var(--main-color-10);
    border-radius: 20px;
    border: 2px solid transparent;
    padding: .5em 1em;

    transition: all .3s ease;

    position: absolute;
    bottom: .5em;
    left: .5em;
    right: .5em;
}

.card a:hover {
    background-color: var(--main-color-10);
    color: var(--main-color-30);
    border: 2px solid var(--main-color-30);
}

.card button:hover {
    border: 2px solid var(--main-color-30);
    background-color: var(--main-color-10);
    color: var(--main-color-30);
}

.card img{
    width: 200px;
    height: 300px;
    object-fit: cover;

    border-radius: 20px;
}
/* END WISHLIST */

/* FORMULARIO */
#contact {
    width: 100vw;
    display: flex;
    flex-flow: row;
    justify-content: center;

    font-family: var(--second-font);
    margin-top: 3em;
}

#contact img {
    height: auto;
    width: 50%;
    max-height: 800px;
}

#contact.hidden {
	display: none;
}

#contact #contact__form {
    border-radius: 20px;
    color: black;

    display: flex;
    flex-flow: column;
    gap: 1em;

    padding: 2em 10%;

    width: 100%;
    min-width: 200px;
    max-width: 1000px;
}

#contact #contact__form legend {
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: 400;
}

#contact #contact__form #contact__form-datos,
#contact #contact__form #contact__form-preguntas {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: .5em;
}

#contact #contact__form input,
#contact #contact__form textarea {
    width: 100%;

    background-color: var(--main-color-10);
    border: 2px solid var(--main-color-30);
    border-radius: 20px;

    font-family: var(--second-font);
    font-size: 1em;
    color: black;

    padding: 1em;
}

#contact #contact__form #contact__form-buttons {
    width: 100%;
    display: flex;
    flex-flow: row;
    gap: .5em;
}

#contact #contact__form #contact__form-buttons button {
    width: 100%;
    padding: .5em 1em;
    background-color: var(--main-color-30);
    color: var(--main-color-10);
    border: 2px solid transparent;

    border: none;
    border-radius: 20px;

    font-family: var(--main-font);
    font-size: 1.2em;

    transition: all .3s ease;
}

#contact #contact__form #contact__form-buttons button:hover {
    background-color: var(--main-color-10);
    color: var(--main-color-30);
    border: 2px solid var(--main-color-30);
}

/* END FORMULARIO */


/* FOOTER */
footer {
    width: 100vw;
    padding: 2em 0 0 0;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: .5em;

    background-color: var(--main-color-30);
    color: var(--main-color-10);
}

footer #social, footer #members #members__list, footer #copyright {
    width: 100%;
    max-width: 2000px;
    height: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 2em ;
}

footer #copyright {
    background-color: black;
    width: 100vw;
    padding: .5em;
}
/* END FOOTER */

/*MEDIA*/
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    header {
        height: 3em;
    }

    #menu .menu__burger .menu__burger-links  {
        display: none;
    }

	#menu .menu__burger .menu__burger-links.active {
		width: 100%;

    	display: flex;
    	flex-flow: row;
        align-items: center;
        justify-content: center;
    	gap: .5em;

        position: absolute;
        top: 3em;
        left: 0;

        text-align: center;
        
        background-color: var(--main-color-30);
        color: var(--main-color-10);
	}	

    #menu .menu__burger .menu__burger-links .menu__burger-link {
        font-size: .8rem;
    }

    #menu .menu__burger .menu__burger-icon {
        display: flex;
    }

    #menu .menu__logo {
        font-size: 1.6rem;
    }


    main {
        margin-top: 0;
    }

    
    #index, #browser, #wishlist #contact {
        width: 100vw;
    }


    #index .content{
        width: 100%;
        font-size: 1.2rem;
        display: flex;
        flex-flow: column;
        gap: 1em;
    }


    main #index #index__browser input, #browser #browser__advanceBrowser-input input {
        width: 100%;
    }



    .card {
        margin: 0 10%;
        gap: .2em;
    }

    .card h3 {
        font-size: 2rem;
    }

    .card .book__attributes {
        display: flex;
        flex-flow: column;
        gap: 0;
    }

    .card .book__attributes  .description {
        display: none;
    }


    #contact {
        flex-flow: column;
    }
    #index img, #browser-img, #wishlist-img, #contact img{
        width: 100vw;
        height: 200px;
        left: 0;
    }


    footer #members #members__list {
        flex-flow: column;
        gap: .2em;
    }
}
/* END MEDIA */